In [1]:
import pandas as pd
import numpy as np

In [4]:
from pandas import Series
s1 = Series(np.arange(10))
s1.head()

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [8]:
s1.map(lambda x:x**2).head(7)

0     0
1     1
2     4
3     9
4    16
5    25
6    36
dtype: int64

In [10]:
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [11]:
z = {1:'a',2:'b',4:'g'}
s1.map(z)

0    NaN
1      a
2      b
3    NaN
4      g
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
dtype: object

In [29]:
df=pd.read_csv('wages.csv')
df.head()

           earn  height     sex   race  ed  age
0  79571.299011   73.89    male  white  16   49
1  96396.988643   66.23  female  white  16   62
2  48710.666947   63.77  female  white  16   33
3  80478.096153   63.22  female  other  16   95
4  82089.345498   63.08  female  white  17   43

In [30]:
df.sex.unique()

array(['male', 'female'], dtype=object)

In [31]:
df['sex_code'] = df.sex.map({'male':0,'female':1})
df.head()

           earn  height     sex   race  ed  age  sex_code
0  79571.299011   73.89    male  white  16   49         0
1  96396.988643   66.23  female  white  16   62         1
2  48710.666947   63.77  female  white  16   33         1
3  80478.096153   63.22  female  other  16   95         1
4  82089.345498   63.08  female  white  17   43         1

In [32]:
df.sex.replace({'male':0,'female':1},inplace=True) # inplace=True가 없으면 저장안됨
# = df.sex.replace(['male','female'],[0,1])
df

              earn  height  sex   race  ed  age  sex_code
0     79571.299011   73.89    0  white  16   49         0
1     96396.988643   66.23    1  white  16   62         1
2     48710.666947   63.77    1  white  16   33         1
3     80478.096153   63.22    1  other  16   95         1
4     82089.345498   63.08    1  white  17   43         1
...            ...     ...  ...    ...  ..  ...       ...
1374  30173.380363   71.68    0  white  12   33         0
1375  24853.519514   61.31    1  white  18   86         1
1376  13710.671312   63.64    1  white  12   37         1
1377  95426.014410   71.65    0  white  12   54         0
1378   9575.461857   68.22    0  white  12   31         0

[1379 rows x 7 columns]

In [34]:
del df['sex_code']

In [35]:
df

              earn  height  sex   race  ed  age
0     79571.299011   73.89    0  white  16   49
1     96396.988643   66.23    1  white  16   62
2     48710.666947   63.77    1  white  16   33
3     80478.096153   63.22    1  other  16   95
4     82089.345498   63.08    1  white  17   43
...            ...     ...  ...    ...  ..  ...
1374  30173.380363   71.68    0  white  12   33
1375  24853.519514   61.31    1  white  18   86
1376  13710.671312   63.64    1  white  12   37
1377  95426.014410   71.65    0  white  12   54
1378   9575.461857   68.22    0  white  12   31

[1379 rows x 6 columns]

In [36]:
df_info = df[['earn','height','age']]
df_info

              earn  height  age
0     79571.299011   73.89   49
1     96396.988643   66.23   62
2     48710.666947   63.77   33
3     80478.096153   63.22   95
4     82089.345498   63.08   43
...            ...     ...  ...
1374  30173.380363   71.68   33
1375  24853.519514   61.31   86
1376  13710.671312   63.64   37
1377  95426.014410   71.65   54
1378   9575.461857   68.22   31

[1379 rows x 3 columns]

In [38]:
f = lambda x:x.max() - x.min()
df_info.apply(f) # apply는 dataframe을 대상으로

earn      318047.708444
height        19.870000
age           73.000000
dtype: float64

In [52]:
df_info.age.map(lambda x:x*2) # 위의 apply는 series에서도 가능하며
# map은 series에서만 가능함, 즉 여기서 map대신 apply써도 동일

0        98
1       124
2        66
3       190
4        86
       ...
1374     66
1375    172
1376     74
1377    108
1378     62
Name: age, Length: 1379, dtype: int64

In [44]:
def f(x):
  return Series([x.min(), x.max()], index = ['min', 'max'])
df_info.apply(f)

              earn  height  age
min     -98.580489   57.34   22
max  317949.127955   77.21   95

In [49]:
f = lambda x: -x
df_info.applymap(f).head(3) # applymap은 모든 element를 대상으로! dataframe에서만 사용가능

           earn  height  age
0 -79571.299011  -73.89  -49
1 -96396.988643  -66.23  -62
2 -48710.666947  -63.77  -33

In [54]:
df_info.age.apply(f).head(3) # series이므로 apply, map 둘다 사용가능

0   -49
1   -62
2   -33
Name: age, dtype: int64